<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<table>
		<tr>
			<td >Собствено име</td>
			<td >Бащино име</td>
			<td >Фамилно име</td>
			<td >Медицинска бележка</td>
			<td >Представена диполома</td>
		</tr>

		<%@records.each do |rec|%>
			<tr>	
				<td><%= rec.first_name %>  </td>
				<td><%= rec.middle_name %></td>
				<td><%= rec.last_name %></td>
				
				<% if rec.medical_note == true %>
					<td>Да</td>
				<% else %>
					<td>Не</td>
				<% end %>	
			
				<% if rec.diploma == true %>
					<td>Да</td>
				<% else %>
					<td>Не</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</body>
</html>