<table>
	<tr>
		<td style="background-color:blue ; color:white">Собствено име</td>
		<td style="background-color:blue ; color:white">Бащино име</td>
		<td style="background-color:blue ; color:white">Фамилно име</td>
		<td style="background-color:blue ; color:white">Медицинска бележка</td>
		<td style="background-color:blue ; color:white">Представена диполома</td>
		<td style="background-color:blue ; color:white">Изтрии</td>
	</tr>

	<%@records.each do |rec|%>
		<tr>	
			<td><%= rec.first_name %>  </td>
			<td><%= rec.middle_name %></td>
			<td><%= rec.last_name %></td>
			
			<% if rec.medical_note == true %>
				<td>Да</td>
			<% else %>
				<td>Не</td>
			<% end %>	
		
			<% if rec.diploma == true %>
				<td>Да</td>
			<% else %>
				<td>Не</td>
			<% end %>
			<td>
				<%= link_to "Изтрии" , "/records/#{rec.id}", confirm: "Сигурни ли сте, че желаете да изтриете този запис?", method: :delete  %>
			</td>
		</tr>
	<% end %>
</table>