<%= form_for @record do |f| %>
	<div>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div><br />
	
	<div>
		<%= f.label :middle_name %>
		<%= f.text_field :middle_name %>
	</div><br />

	<div>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div><br />

	<div>
		<%= f.label :medical_note %>
		<%= f.check_box :medical_note %>
	</div><br />

	<div>
		<%= f.label :diploma %>
		<%= f.check_box :diploma %>
	</div><br />

	<%= f.submit %>

<% end %>