<!DOCTYPE html>
<html>
<head>
  <title>ElsysAdmission</title>
  <meta charset="UTF-8" >
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="background-color : blue">
	<%=link_to :root do %>
		<h2 style="color: white">ElsysAdmission</h2>
	<% end %>
	
	<span style="float:right">
		<%= link_to "Нов Запис" , controller:"records", action:"new"  %>
		<%= link_to "Експортирай към CSV", "/records.csv"%>
		<%= link_to "Експортирай към XLS", "/records.xls"%>
	</span>
</div>

<%= yield %>

</body>
</html>
